<h1><%= current_user.name %>Welcome To Dogged</h1>

<h2>The site for registering your doggly friends</h2>

  <!-- separate partial? -->
<% if current_user.admin? %>
  <%= render 'layouts/admin_index' %>
<% else %>
  <%= render 'layouts/user_index' %>
<% end %>
